.logo img {
    width: 120px; /* Adjust the width as needed */
    height: auto;
}

.login-button{
    display: flex;
    /* align-items: center; */
    text-align: center;
    gap: 50px;
}

.login-button{
    width: 100px;
    height: 52px;
    outline: none;
    border: 0px solid #7a7a7a;
    border-radius: 15px;
    color:#080808;
    font-size: 20px;
    font-weight: 400;
    background: #C5F42C;
    
}
