.hero{
    height: 100vh;
    padding: 0px 140px;
    background: linear-gradient(180deg, #D7D7D5, #e1ffea22 60%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 150px;
    line-height: 1.1;
    position: relative;  /*for overlap*/
    
}
.hero-left p{
    color: var(--black, #000);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Playfair Display";
    font-size: 150px;
    font-weight: 700;
    position: absolute;
    margin-top: 100px;
    align-items: center;
}
.hero-left h5{
    color: var(--black, #000);
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    margin-top: 70px;  
    margin-left: 75px;
    display: flex;
  
}

.hero-left h4{
    color: #F00;
    font-family: "Playfair Display";
    font-size: 150.407px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    margin: 0;
    z-index: 1;
    opacity: 0.999;
    order: 1;
   
} 
.hero-left h6{
    color: var(--black, #000);
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    margin-top: -18px;
    margin-left: 200px;
   
    opacity: 1;
}


/* Adjust positioning for overlapping */
.hero-left p {
    top: 0;
    left: 3;
}

.hero-left h4 {
    top: 175px; /* Adjust top position to overlap with "LE" */
    left: 340px; /* Adjust left position to overlap with "LE" */
}




/* image commented */


/* .hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
} */


/*Button for latest collection*/

/* .hero-lastest-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 50px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
} */




.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:center;
}